<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Data Karyawan BCA API</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="blue-theme">

<h2>Selamat Datang di API Data Karyawan BCA</h2>

<div class="menu">
    <a href="/input" class="menu-button">Input Data Karyawan</a>
    <a href="/display_all" class="menu-button">Lihat Semua Data Karyawan</a>
    <a href="/updatedata" class="menu-button">Perbarui Data Karyawan</a>
    <a href="/delete_karyawan" class="menu-button">Hapus Data Karyawan</a>
</div>
</body>
</html>